html {
    font-size: 22px
}

body {
    background-color:#333;
    color:whitesmoke;
}

a   {
    color:aliceblue;
}

a:visited {
    color:lightgray;
}

a:hover, a:active {
    color:#eee;
}

table, tr, th, td, caption {
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}

.top-right-link-desktop {
  position: fixed; 
  top: 5px;      
  right: 100px;
}

.top-right-link-mobile {
  position: fixed; 
  top: 5px;      
  right: 100px;
}

